<div class="tips_modal p-3">
    <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="text-center mb-3">
        <b>Dicas rápidas para interagir com o Bot</b>
    </div>

    <ul>
        <li>Se digitar "G" ele fala <b>3</b>.</li>
        <li>Se digitar "3" ele fala <b>X</b>.</li>
        <li>Peça um <b>ban</b> para ele.</li>
        <li>Dê <b>Bom dia</b> para o Gau.</li>
        <li>Dê um <b>Salve</b> para o Gau.</li>
        <li>Peça para o Gau <b>te desbanir</b>.</li>
        <li>É seu <b>aniversário</b>? Fala para o Gau.</li>
        <li>Pergunte para o Gau como foi seu <b>fim de semana</b>.</li>
        <li>Peça para o Gau <b>gemer</b>.</li>
        <li>Se o gau se irritar, mande ele <b>Se Comportar</b>.</li>
        <li>Peça para o Gau <b>não mutar o chat</b>.</li>
        <li>Peça para ele te dar um <b>presente</b>.</li>
        <li>Conte uma <b>piada</b> para o Gau.</li>
        <li>Peça para o Gau <b>sorrir</b>.</li>
    </ul>
</div>