@import "bootstrap/scss/bootstrap";

body {
    background: url('gau_wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(75,90,226,0.3);
    box-shadow: 0px 0px 10px rgba(245,245,245,0.8);
    color: white;
    margin-top: 100px;
    z-index: 5;
    position: relative;
}

.tips_modal {
    position: absolute;
    background-color: rgba(10,10,10,0.9);
    z-index: 10;
    width: 100%;
    height: 100%;

    .close {
        float: right;
    }
}